.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  p {
    font-size: 14px;
    margin: 5px 0 5px 0;
  }
  .weather-info {
    padding: 20px;
    min-width: 300px;
    h2 {
      margin: 5px;
    }
    .icon {
      display: flex;
      flex-direction: row;
      h3 {
        margin: 10px;
      }
    }
    table {
      min-width: 300px;
      font-size: 14px;
      border-collapse: collapse;
      border-spacing: 0;
      td {
        border: 1px solid #ddd;
        padding: 5px;
      }
      tr:nth-child(odd) {
        background-color: #f9f9f9;
      }
    }
  }
}
